body{
    margin: 0;
    background: url("../images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    color: #FFFFFF;
    text-align: center;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul li{
    display: inline-block;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
}
ul li img{
    width: 23px;
}
ul li a{
    color: #FFFFFF;
    text-decoration: none;
}
ul li a:hover{
    text-decoration: underline;
}
h2{
    font-size: 27px;
    margin-top: 30px;
    margin-bottom: 14px;
}
#main{
    margin-top: 100px;
}
#logo img{
    width: 100%;
}
#logo{
    width: 420px;
    margin: 0 auto;
}